.products {
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-wrap: wrap;    
}

.products li {
    list-style: none;
    padding: 0;
    flex: 0 1 34rem;
    margin: 1.2rem;
    height: 50rem;
    border: 0.1rem solid #c0c0c0;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    height: 100%;
}

.product-image {
    max-width: 34rem;
    max-height: 34rem;
}

.product-name {
    color: inherit;
    font-size: 2rem;
    font-weight: bold;  
}

.product-name a {
    color: inherit;
}

.product-name a:hover {
    color: #f9992e;
}

.product-brand {
    font-size: 1.2rem;    
    color: #808080;
}

.product-price {
    font-size: 2.2rem;
    font-weight: bold;
}

.product-ratings {
    margin-bottom: 1rem;    
    font-weight: bold;
}
