.brand button {
    font-size: 3rem;    
    background: none;
    border: none;
    color: #fff;
    cursor: pointer; 
}

.brand button:hover {
    color: #f9992e ;
}

.side-bar {
    height: 100%;
    width: 30rem;
    position: fixed;
    top: 0;
    left: 0;
    color: #f9992e;
    background-color: #f0f0f0;
    padding-top: 60px;    
    transform: translateX(-30rem);
    text-align: center;
}

.side-bar ul li {
    list-style: none;
    margin: auto;
    margin-top: 2em;
}

.side-bar.open {    
    transform: translateX(0);
}

.material-icons, .icon-text {
    vertical-align: middle;    
}

.material-icons {
    margin-right: 30px;
    padding-bottom: 3px;
}

.side-bar-close-btn {
    font-weight: bold;
    border-radius: 50%;
    border: 0.2rem solid #000;
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    position: absolute;
    top: 5.5rem;
    right: 1rem;
}

.side-bar-close-btn:hover {
    background-color: #f9992e;
}
