<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Festrush</title>
        <link href="../Style/style.css" rel="stylesheet">
        <link href="../Style/homescreen.css" rel="stylesheet">
        <link href="../Style/side-bar.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <nav>
                    <div class="brand">
                        <button>
                            &#9776;
                        </button>
                    </div>
                    <div id="brand_name">Fest<span class="logo-break">rush</span></div>
                    <ul class="navbar">
                        <li><a herf="shopping-cart.html" class="btn">Cart</a></li>
                        <li><a herf="sign-in.html" class="btn">Sign In</a></li>
                    </ul>                    
                </nav>
            </header>
            <main class="main">
                <div class="content">
                    <ul class="products">
                        <li>
                            <div class="product">
                                <img class="product-image" src="../../images/p1.jpg" alt="product">
                                <div class="product-name"><a href="product.html">Om Namah Shivaya</a></div>
                                <div class="product-brand">Obscurus Apparels</div>
                                <div class="product-price">$33</div>
                                <div class="product-ratings">4.4 Stars (11 reviews)</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
            <footer class="footer"><div>Fest<span class="logo-break">rush</span> &copy; 2020 <br> All Rights Reserved</div></footer>    
        </div>
    </body>
</html>