<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Obscurus</title>
        <link href="../Style/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main-container">
            <header>
                <nav>
                    <div id="brand_name">Obscurus</div>
                    <ul class="navabr">
                        <li>Home</li>
                        <li>Home</li>
                        <li>Home</li>
                        <li>Home</li>
                        <li>Home</li>
                    </ul>
                </nav>
            </header>
            <main>
                <section>
                    <div class="container">
                        <p>This is the main page for my ecommerce website.</p>
                        <ul class="products-listings">
                            <li>Item on Sale</li>
                            <li>Item on Sale</li>
                            <li>Item on Sale</li>
                            <li>Item on Sale</li>
                            <li>Item on Sale</li>
                            <li>Item on Sale</li>
                            <li>Item on Sale</li>
                            <li>Item on Sale</li>
                            <li>Item on Sale</li>
                            <li>Item on Sale</li>
                            <li>Item on Sale</li>
                            <li>Item on Sale</li>
                        </ul>
                    </div>            
                </section>
            </main>
            <footer>Obscurus Inc &copy; 2020 <br> All Rights Reserved</footer>    
        </div>
    </body>
</html>